<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Linkedin.com, <%= @user.firstName %></h1>
    <p>
      You have successfully signed up to Linkedin.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: www.linkedin.com
    </p>
    
    <p>
      Verification code for your userId if <%=@random%>
    </p>


    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
