<footer id="guestfooter">
<div id="ghome-footer">
<div id="search-browse">
<div id="search">
<form name="searchForm" action="/pub/dir/?csrfToken=ajax%3A4031360650195477667&amp;goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1" method="get">
<h3>Find a colleague:</h3>
<ul>
<li>
<label style="display: none;" id="control_gen_6" for="first">First name</label>
<script id="controlinit-http-12209-exec-2312902-8" type="text/javascript+initialized" class="li-control">LI.Controls.addControl('control-http-12209-exec-2312902-8','GhostLabel',{});</script>
<input placeholder="First name" name="first" id="first" size="185" type="text">
</li>
<li>
<label style="display: none;" id="control_gen_7" for="last">Last name</label>
<script id="controlinit-http-12209-exec-2312902-9" type="text/javascript+initialized" class="li-control">LI.Controls.addControl('control-http-12209-exec-2312902-9','GhostLabel',{});</script>
<input placeholder="Last name" name="last" id="last" size="185" type="text">
</li>
</ul>
<p class="action"><input class="btn-secondary" name="search" value="Search" type="submit"></p>
</form>
</div>
<div id="directory" class="us">
<h3>
LinkedIn member directory:
</h3>
<ol class="primary" type="a">
<li>
<a href="http://www.linkedin.com/directory/people-a">a</a>
</li>
<li>
<a href="http://www.linkedin.com/directory/people-b">b</a>
</li>
<li>
<a href="http://www.linkedin.com/directory/people-c">c</a>
</li>
<li>
<a href="http://www.linkedin.com/directory/people-d">d</a>
</li>
<li>
<a href="http://www.linkedin.com/directory/people-1" class="callout-trigger nlcl-hovercard-trigger">more</a>
</li>




<li class="country-search">
Browse members <a href="http://www.linkedin.com/static?key=country_listing">by country</a>
</li>
</ol>
</div>
<script type="text/javascript">fs._server.fire("9d4b6ab010c2ca1340814ee0302b0000-1",{event:"before",type:"html"});</script><div id="footer" class="remote-nav">

</div>







<script type="text/javascript">fs._server.fire("9d4b6ab010c2ca1340814ee0302b0000-1",{event:"after",type:"html"});</script>


</div>


<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-3242811-1']);_gaq.push(['_setDomainName','.linkedin.com']);_gaq.push(['_trackPageview','guest-home-new']);_gaq.push(['_setVar','guest']);YEvent.on(window,'load',function(){YAHOO.util.Get.script("https://ssl.google-analytics.com/ga.js");});</script>



</div>
<script type="text/javascript">//<![CDATA[
(function(require){var bcookie=escape(readCookie("bcookie")),$=window.$||(require&&require('jquery')),newTrkInfo='null',alias_secure='/analytics/noauthtracker?type=leo%2EpageTracking&pageType=full_page&pageKey=guest-home-new_jsbeacon&trkInfo=REPLACEME',alias_normal='http://www.linkedin.com/analytics/noauthtracker?type=leo%2EpageTracking&pageType=full_page&pageKey=guest-home-new_jsbeacon&trkInfo=REPLACEME',is_secure=true,url=(is_secure)?alias_secure:alias_normal;function readCookie(name){var nameEQ=name+'=',ca=document.cookie.split(';');for(var i=0;i<ca.length;i++){var c=ca[i];while(c.charAt(0)===' '){c=c.substring(1,c.length);}
if(c.indexOf(nameEQ)===0){return c.substring(nameEQ.length,c.length);}}
return null;}
url=url.replace("REPLACEME",newTrkInfo);if(bcookie){if($&&$.ajax){$.ajax(url);}else if(window.YAHOO){window.YAHOO.util.Connect.asyncRequest('get',url,{});}}})(window.require);
//]]></script> </footer>